.container {
  height: 500px;
  width: 80%;
  border: solid 1px black;
  margin: auto;
}

.tabContainer {
  height: 10%;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
}

.tab {
  text-align: center;
  height: 100%;
  width: 100%;
}

.activeTab {
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: grey;
  color: white;
}
