.navbar {
  display: flex;
  margin: 1% 10% 1% 10%;
  height: 73px;
}

.logo {
  width: 20%;
}

.links {
  display: flex;
  margin-left: 10%;
  width: 80%;
}

.navLink {
  font-size: 1rem;
  width: 20%;
  font-family: "Open Sans Condensed", sans-serif;
  padding-top: 5%;
  text-align: center;
  text-decoration: none;
  color: black;
}

.navLink:hover {
  border-bottom: solid black 2px;
}

@media screen and (min-width: 800px) {
  .linksContainer {
    height: auto !important;
  }
}
